.Button {
  font-size: 1rem;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Green {
  background-color: #008F11;
  color: #F8F8F8;
}

.Green:hover {
  background-color: #00FF41 ;
  color: #0D0208 ;
} 