.WordBreak {
  word-break: break-all;
}

.Bio {
  padding-top: 3px;
  border-radius: 2px;
  border: 1px solid #C6C6C6;
  margin-top: 10px;
}

.Bio button {
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}