.Row {
  height: calc(100vh - 81px);
}

.Header {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
}

.Container {
  padding: 30px 10px;
  width: 100px;
}